# Ignore system & environment files
.DS_Store
*.log
.env
*.bak
*.tmp

# Ignore OS files
Thumbs.db
desktop.ini

# Ignore vendor files (if later using Composer)
vendor/

# Ignore compiled or cache folders
cache/
